/* html {
  height: 100%;
  width: 100%;
}
header {
  height: 0px;
} */
/* body {
  margin: 0% 0%;
  height: 100%;
  width: 100%;
} */
html {
    height: 100vh;
}


body {
    height: 100%;
    margin: 0%;
    background: url('/Pictures/photo.jpeg') no-repeat center center/ cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 65%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.question {
    font-size: 1.5rem;
    position: relative;
    border-bottom: 2px solid black;
    padding-bottom: 25px;
    cursor: pointer;
}

.accordion .content-container {
    transition: .5s;
}

.accordion .content-container .question::after {
    content: '+';
    position: absolute;
    right: 10px;
}

.answer {
    padding-top: 25px;
    font-size: 22px;
    height: 0px;
    overflow: hidden;
    transition: .5s;
}

#heading {
    text-align: center;
    margin-bottom: 30px;
}

.accordion .content-container.active .answer {
    transition: .5s;
}

.accordion .content-container.active .question::after {
    content: '-';
}